@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 0;
}
.card{
    width: 100%;
    max-width: 500px;
    background-color: rgb(220, 219, 219);
    border-radius: 20px;
    margin: 60px 20px;
    cursor: pointer;
    position: relative;
}
.card:nth-child(2){
    background-color:rgb(243,243,157) ;
}
.card-image{
    width: 40%;
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transform-origin: bottom;
    transition: all .4s ease-in-out;
}
.card:hover .card-image{
    left: 55%;
    transform: scale(1.1);
}
.card-content{
    width: 100%;
    max-width: 350px;
    padding: 40px;
    opacity: 0;
    transition: all .4s ease-in-out;
    transform: translateX(15px);
}
.card:hover .card-content{
    opacity:1 ;
    transition-delay: .2s;
    transform: translateX(0px);

    
}
.text{
    font-size: 16px;
    color: white;
}
.btn{
    margin-top: 20px;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}
a{
    text-decoration: none;
}
@media screen and(max-width:1080px) {
    .container{
        height:auto;

    }
    
}
@media screen and (max-width:560px) {
    .card{
        height: auto;
        padding: 30px 10px;
    }
    .card-image{
        position: relative;
    }
    .card:hover .card-image{
        left: 50%;
        transform: translate(-50%);
    }
    .card-content{
        opacity: 1;
        transform: translateX(0px);
        padding: 10px 30px;
    }
    .text{
        font-size: 13;
    }
}